@using HumanResources;
@using HumanResources.Data;


@model Advert
@{
    ViewData["title"] = Model.Appellation;
}




<div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>@Model.Category.Name</h2>
                        <span>"Unleash Your Potential in Paradise: Job Openings in the Maldives"</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section class="section" id="product">
    <div class="container">

        <div class="row">
            <div class="col-lg-2" >
                <div class="left-images">
                    <img src="@Model.Flag" alt="">

                </div>

            </div>
            <div class="col-lg-4" >
                <div class="left-images">
                    <img src="@Model.Logo" alt="">

                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <h4 class="text-google">@Model.Appellation</h4>
                    <h4 class="text-google">@Model.CountryName</h4>
                    <span class="text-google">@Model.Category.Name</span>

                    <span class="text-google">@Model.Qualifications</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p></p>
                    </div>


                    <h1>@Model.Salary.ToString("c2")ރ</h1>
                    <a asp-action="Recourse" ><h5 style="text-align:center"><button type="submit" class="btn btn-primary">Apply</button></h5></a>
                </div>
            </div>
        </div>
    </div>

</section>